@model AspNetMvcRoles.Models.Regras

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja Realmente Excluir?</h3>
<div>
    <h4>Regras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRegra" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
