@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p> Aprenda Sobre <a href="https://docs.microsoft.com/aspnet/core">Aplicativo Web construido em asp.net core</a>.</p>
</div>
